<div class="card">
    <h5 class="card-header text-capitalize">
        Category: {{ product?.category }}

        
    </h5>

    <img src="{{ product?.image }}" class="card-img-top" alt="{{ product?.title }}">

    
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center ">
            <h3><b>{{product?.price | currency}}</b></h3>

            <div class="rating">
                <div class="stars" [ngStyle]="{'--rating': product?.rating?.rate}" aria-label="Rating of this product is 2.3 out of 5."></div>
                <span>{{product?.rating?.rate}}</span>
            </div>
        </div>
        <h5 class="card-title">{{ product?.title }}</h5>
        <p class="card-text">{{ product?.description }}</p>
    </div>
</div>